<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ARL.Properties.Settings.RemoteConnectionString" connectionString="Data Source=ARL-ESQL01;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
            providerName="System.Data.SqlClient" />
        <add name="ARL.Properties.Settings.CloudConnectionString" connectionString="Data Source=ARL-ESQL01;Initial Catalog=ERP_Global;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
            providerName="System.Data.SqlClient" />
        <add name="ARL.Properties.Settings.AccountsConnectionString"
            connectionString="Data Source=ARL-ESQL01;Initial Catalog=ERP_Accounts;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
            providerName="System.Data.SqlClient" />
        <add name="ARL.Properties.Settings.SMSConnectionString" connectionString="Data Source=ARL-ESQL01;Initial Catalog=AFBLSMSServer;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
            providerName="System.Data.SqlClient" />
    <add name="ARL.Properties.Settings.HQConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=\\accesscontrol\Default\AxlogxLT.mdb;Persist Security Info=True;Jet OLEDB:Database Password=s909s"
      providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>