<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="WINGlobal.Properties.Settings.RemoteConnectionString"
      connectionString="Data Source=AGESQL;Initial Catalog=ERP_HR;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
      providerName="System.Data.SqlClient" />
    <add name="WINGlobal.Properties.Settings.SMSConnectionString"
      connectionString="Data Source=AGESQL;Initial Catalog=AFBLSMSServer;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
      providerName="System.Data.SqlClient" />
    <add name="WINGlobal.Properties.Settings.CommonConnectionString"
      connectionString="Data Source=AGESQL;Initial Catalog=ERP_Global;Persist Security Info=True;User ID=rNwUs@Ag;Password=a2sLs@Ag"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>